# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
keys/
*.json
!metrics_stats.json
!docs/episodes/*.json

episode_script_raw.txt
episode_script_clean.txt
test_episodes/
chunk_*.mp3
out.mp3


*verification_test*
